

<div class="modal fade" id="rxModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header modal_header_custom">
          <h4 class="modal-title">{{modalHeader}}</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
         <div class="table-responsive">
         <div class="scrool_ber height_table_420">
                     
                        <table class="table table-bordered  table-striped table-sm tableCustomAll ">
                          <thead>
                            <tr>
                              <th colspan="2"><input type="text" class="form-control" id="" placeholder="Type Here..."></th>
                               <th colspan="2"><input type="text" class="form-control" id="" placeholder="Type Here..."></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="openModal">
                            <td style="width:30px;">1</td>
                              <td>Syrup Napa 120 mg/5 ml</td>
                              <td>1 tab in morning, 1 tab at night - (after meals)</td>
                              <td style="width:30px;"><button class="btn btn-danger dengerbtn"><i class="fa fa-trash" aria-hidden="true"></i></i></button></td>
                            </tr>
                           <tr class="openModal">
                           <td style="width:30px;">2</td>
                              <td>Tab. Ciprocin 500 mg</td>
                              <td>1 tab in morning, 1 tab at night - 7 days.</td>
                              <td style="width:30px;"><button class="btn btn-danger dengerbtn"><i class="fa fa-trash" aria-hidden="true"></i></i></button></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="clearfix"></div>
                    </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
        <button type="button" class="btn btn-info">Save</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  