
<!-- Styles -->
    <link rel="stylesheet" type="text/css" href="./app/components/doctorChamber/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="./app/components/doctorChamber/css/style.css">

    <header class="site-header">
        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                        <div class="site-branding d-flex align-items-center">
                           <!-- <a class="d-block" href="#home" rel="home"><img class="d-block" src="./app/components/doctorChamber/images/logo.png" alt="logo"></a>
                         -->
                        
                        </div><!-- .site-branding -->

                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-items-center">
                                <li class="current-menu-item"><a href="#home">Home</a></li>
                                <li><a  href="#aboutUsSection">Appointment</a></li>
                                
                                <li><a href="#serviceSection">Services</a></li>
                                <!-- <li><a href="news.html">News</a></li> -->
                                <li><a href="#contactSection">Contact</a></li>

                                <li class="call-btn button gradient-bg mt-3 mt-md-0">
                                    <div class="d-flex justify-content-center align-items-center" href="#"><img src="./app/components/doctorChamber/images/emergency-call.png"> +88 01916 8944 86</div>
                                
                                
                                </li>
                            </ul>
                        </nav><!-- .site-navigation -->

                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->

        <div class="swiper-container hero-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide hero-content-wrap" style="background-image: url('./app/components/doctorChamber/images/hero.jpg')">
                    <div class="hero-content-overlay position-absolute w-100 h-100">
                        <div class="container h-100">
                            <div class="row h-100">
                                <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
                                    <header class="entry-header">
                                        <h1>The Best <br>Medical Services</h1>
                                    </header><!-- .entry-header -->

                                    <div class="entry-content mt-4">
                                        <p>
                                                Confidently providing comprehensive health care with the latest medical, surgical and diagnostic facilities. These services are provided by expert medical professionals, skilled nurses and technologists using state-of-the-art technology.
                                        
                                            </p>
                                    </div><!-- .entry-content -->

                                    <footer class="entry-footer d-flex flex-wrap align-items-center mt-4">
                                        <a href="#aboutUsSection" class="button gradient-bg">Book Appoitnment</a>
                                    </footer><!-- .entry-footer -->
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .container -->
                    </div><!-- .hero-content-overlay -->
                </div><!-- .hero-content-wrap -->

                <div class="swiper-slide hero-content-wrap" style="background-image: url('./app/components/doctorChamber/images/hero.jpg')">
                    <div class="hero-content-overlay position-absolute w-100 h-100">
                        <div class="container h-100">
                            <div class="row h-100">
                                <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
                                    <header class="entry-header">
                                        <h1>The Best <br>Medical Services</h1>
                                    </header><!-- .entry-header -->

                                    <div class="entry-content mt-4">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
                                    </div><!-- .entry-content -->

                                    <footer class="entry-footer d-flex flex-wrap align-items-center mt-4">
                                        <a href="#" class="button gradient-bg">Read More</a>
                                    </footer><!-- .entry-footer -->
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .container -->
                    </div><!-- .hero-content-overlay -->
                </div><!-- .hero-content-wrap -->

                <div class="swiper-slide hero-content-wrap" style="background-image: url('./app/components/doctorChamber/images/hero.jpg')">
                    <div class="hero-content-overlay position-absolute w-100 h-100">
                        <div class="container h-100">
                            <div class="row h-100">
                                <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
                                    <header class="entry-header">
                                        <h1>The Best <br>Medical Services</h1>
                                    </header><!-- .entry-header -->

                                    <div class="entry-content mt-4">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
                                    </div><!-- .entry-content -->

                                    <footer class="entry-footer d-flex flex-wrap align-items-center mt-4">
                                        <a href="#" class="button gradient-bg">Read More</a>
                                    </footer><!-- .entry-footer -->
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .container -->
                    </div><!-- .hero-content-overlay -->
                </div><!-- .hero-content-wrap -->
            </div><!-- .swiper-wrapper -->

            <div class="pagination-wrap position-absolute w-100">
                <div class="swiper-pagination d-flex flex-row flex-md-column"></div>
            </div><!-- .pagination-wrap -->
        </div><!-- .hero-slider -->
    </header>

    <!-- <aboutsection-controller></aboutsection-controller> -->
    
    <!-- <div class="homepage-boxes aboutUsSection">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="opening-hours">
                        <h2 class="d-flex align-items-center">Opening Hours</h2>

                        <ul class="p-0 m-0">
                            <li>Monday - Thursday <span>8.00 - 19.00</span></li>
                            <li>Friday <span>8.00 - 18.30</span></li>
                            <li>Saturday <span>9.30 - 17.00</span></li>
                            <li>Sunday <span>9.30 - 15.00</span></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                    <div class="emergency-box">
                        <h2 class="d-flex align-items-center">Emergency</h2>

                        <div class="call-btn button gradient-bg">
                            <a class="d-flex justify-content-center align-items-center" href="#"><img src="./app/components/doctorChamber/images/emergency-call.png"> +34 586 778 8892</a>
                        </div>

                        <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Donec males uada lorem maximus mauris sceler isque, at rutrum nulla.</p>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-5 mt-5 mt-lg-0">
                    <div class="appointment-box">
                        <h2 class="d-flex align-items-center">Make an Appointment</h2>

                        <form class="d-flex flex-wrap justify-content-between">
                            <select class="select-department">
                                <option value="value1">Select Department</option>
                                <option value="value2">Select Department 1</option>
                                <option value="value3">Select Department 2</option>
                            </select>

                            <select class="select-doctor">
                                <option>Select Doctor</option>
                                <option>Select Doctor 1</option>
                                <option>Select Doctor 2</option>
                            </select>

                            <input type="text" placeholder="Name">

                            <input type="number" placeholder="Phone No">

                            <input class="button gradient-bg" type="submit" value="Boom Appoitnment">
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div> -->

    <div class="our-departments" id="serviceTab">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="our-departments-wrap">
                        <h2>Our Departments</h2>

                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="our-departments-cont">
                                    <header class="entry-header d-flex flex-wrap align-items-center">
                                        <img src="./app/components/doctorChamber/images/cardiogram.png" alt="">

                                        <h3>Cardioology</h3>
                                    </header>

                                    <div class="entry-content">
                                        <p>

                                                The Cardiology Department has gained reputation for its dynamic and innovation in the diagnosis, investigation and treatment of patients with all forms of heart diseases, both generally encountered and complex cases. We have a dedicated unit of four full-time Consultants, and a team of junior doctors, nurses, and technicians trained to the highest standard in cardiac assessment.
                                        </p>
                                    </div>

                                    <footer class="entry-footer">
                                        <!-- <a href="#">read more</a> -->
                                    </footer>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="our-departments-cont">
                                    <header class="entry-header d-flex flex-wrap align-items-center">
                                        <img src="./app/components/doctorChamber/images/stomach-2.png" alt="">

                                        <h3>Gastroenterology</h3>
                                    </header>

                                    <div class="entry-content">
                                        <p>
                                                Department of Gastroenterology & Hepatology is devoted to the clinical care of patients with gastrointestinal and liver disorders. The department is home to excellent patient care, and our specialists employ the most advanced diagnostic and therapeutic endoscopy services to ensure the best outcomes for each patient.
                                        </p>
                                    </div>

                                    <footer class="entry-footer">
                                        <!-- <a href="#">read more</a> -->
                                    </footer>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="our-departments-cont">
                                    <header class="entry-header d-flex flex-wrap align-items-center">
                                        <img src="./app/components/doctorChamber/images/blood-sample-2.png" alt="">

                                        <h3>Medical Lab</h3>
                                    </header>

                                    <div class="entry-content">
                                 
                                   <p>
                                        Lab Medicine Department has become the leading diagnostic laboratory in Bangladesh by virtue of its uniqueness in offering diverse tests, reliability and prompt turn around time. We provide state-of-the-art reliable diagnostic services 24 hours a day, 7 days a week, for patients, general practitioners and other hospitals in the country.
                                   </p>
                                    </div>

                                    <footer class="entry-footer">
                                        <!-- <a href="#">read more</a> -->
                                    </footer>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="our-departments-cont">
                                    <header class="entry-header d-flex flex-wrap align-items-center">
                                        <img src="./app/components/doctorChamber/images/teeth.png" alt="">

                                        <h3>Dental</h3>
                                    </header>

                                    <div class="entry-content">
                                    <p>
                                            Our dental practice is highly specialised and covers oral and maxillofacial surgery, oral surgery, orthodontics, paediatric dentistry, and restorative dentistry.
                                    </p>
                                    </div>

                                    <footer class="entry-footer">
                                        <!-- <a href="#">read more</a> -->
                                    </footer>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="our-departments-cont">
                                    <header class="entry-header d-flex flex-wrap align-items-center">
                                        <img src="./app/components/doctorChamber/images/stretcher.png" alt="">

                                        <h3>Paediatric Surgery</h3>
                                    </header>

                                    <div class="entry-content">
                                    <p>
                                            Paediatric Surgery is different from other surgical principles as it deals with children, who are special patients because of their potential to grow, anatomic variations, different disease patterns, and different psychology.
                                    </p>
                                    </div>

                                    <footer class="entry-footer">
                                        <!-- <a href="#">read more</a> -->
                                    </footer>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="our-departments-cont">
                                    <header class="entry-header d-flex flex-wrap align-items-center">
                                        <img src="./app/components/doctorChamber/images/scanner.png" alt="">

                                        <h3>Neurology</h3>
                                    </header>

                                    <div class="entry-content">
                                    <p>
                                            The Neurology Department has experienced American Board Certified Neurologist and also the only qualified epilepsy specialist of the country. The department uses the latest technology and facilities, and is staffed by an experienced team of neurologists, nurses and technologists, who are committed to patient care. 
                                    </p>
                                    </div>

                                    <footer class="entry-footer">
                                        <!-- <a href="#">read more</a> -->
                                    </footer>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4 mb-md-0">
                                <div class="our-departments-cont">
                                    <header class="entry-header d-flex flex-wrap align-items-center">
                                        <img src="./app/components/doctorChamber/images/bones.png" alt="">

                                        <h3>Orthopaedics</h3>
                                    </header>

                                    <div class="entry-content">
                                  
                                   <p>
                                        The Department of Orthopaedics has three full-time Consultants, one part-time Consultant, a number of junior doctors, and supporting paramedical staff trained to deliver a 100% success rate. Our team diagnoses, operates and treats problems affecting the bones, joints and muscles of patients encompassing all age groups.
                                   </p>
                                    </div>

                                    <footer class="entry-footer">
                                        <!-- <a href="#">read more</a> -->
                                    </footer>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4 mb-lg-0">
                                <div class="our-departments-cont">
                                    <header class="entry-header d-flex flex-wrap align-items-center">
                                        <img src="./app/components/doctorChamber/images/blood-donation-2.png" alt="">

                                        <h3>Neonatology</h3>
                                    </header>

                                    <div class="entry-content">
                                     
                                        <p>
                                                Department of Neonatology  provides care for infants born in our Maternity Unit, as well as more advanced care and total management of infants suffering from complex medical problems through the hospital’s Neonatal ICU. 
                                         </p>
                                    </div>

                                    <footer class="entry-footer">
                                        <!-- <a href="#">read more</a> -->
                                    </footer>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4 mb-0">
                                <div class="our-departments-cont">
                                    <header class="entry-header d-flex flex-wrap align-items-center">
                                        <img src="./app/components/doctorChamber/images/glasses.png" alt="">

                                        <h3>Internal Medicine</h3>
                                    </header>

                                    <div class="entry-content">
                                     <p>
                                            Department of Internal Medicine focuses on the diagnosis, treatment, and prevention of non-surgical conditions in adults. The department provides a wide range of high quality cross-specialty health care services, including physical examinations, preventive screenings and immunizations, urgent care for medical conditions, and referrals to surgical specialists when appropriate.
                                     </p>
                                    </div>

                                    <footer class="entry-footer">
                                        <!-- <a href="#">read more</a> -->
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="the-news">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>The News</h2>

                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="the-news-wrap">
                                <figure class="post-thumbnail">
                                    <a href="#home"><img src="./app/components/doctorChamber/images/news-1.png" alt=""></a>
                                </figure>

                                <header class="entry-header">
                                    <h3>The latest in Medicine</h3>

                                    <div class="post-metas d-flex flex-wrap align-items-center">
                                        <div class="posted-date"><label>Date : </label><a href="#home"> April 05, 2019</a></div>
<!-- 
                                        <div class="posted-by"><label>By: </label><a href="#">Dr. Jake Williams</a></div>

                                        <div class="post-comments"><a href="#">2 Comments</a></div> -->
                                    </div>
                                </header>

                                <div class="entry-content">
                                 <p>
                                        Physicists have teleported a computer circuit instruction known as a quantum logic operation between two separated ions (electrically charged atoms), showcasing how quantum computer programs could carry out tasks in future large-scale quantum networks.
                                 </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="the-news-wrap">
                                <figure class="post-thumbnail">
                                    <a href="#home"><img src="./app/components/doctorChamber/images/news-2.png" alt=""></a>
                                </figure>

                                <header class="entry-header">
                                    <h3>All you need to know about pills</h3>

                                    <div class="post-metas d-flex flex-wrap align-items-center">
                                        <div class="posted-date"><label>Date : </label><a href="#home"> April 20, 2019</a></div>
<!-- 
                                        <div class="posted-by"><label>By: </label><a href="#">Dr. Jake Williams</a></div>

                                        <div class="post-comments"><a href="#">2 Comments</a></div> -->
                                    </div>
                                </header>

                                <div class="entry-content">
                                  <p>As long as you take 1 pill every day, you’ll be protected from pregnancy. You don’t have to take your combination pill at the exact same time every day. But taking it at the same time is a good idea because it helps keep you in the habit of remembering your pill.</p>
                                
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="the-news-wrap">
                                <figure class="post-thumbnail">
                                    <a href="#home"><img src="./app/components/doctorChamber/images/news-3.png" alt=""></a>
                                </figure>

                                <header class="entry-header">
                                    <h3>Marketing and Medicine</h3>

                                    <div class="post-metas d-flex flex-wrap align-items-center">
                                        <div class="posted-date"><label>Date : </label><a href="#home"> April 12, 2019</a></div>

                                        <!-- <div class="posted-by"><label>By: </label><a href="#">Dr. Jake Williams</a></div>

                                        <div class="post-comments"><a href="#">2 Comments</a></div> -->
                                    </div>
                                </header>

                                <div class="entry-content">
                               <p>
                                   Done properly, ethical medical marketing can grow your profits, attract the patients and cases you want, build your reputation (brand) and even enable you to have a life again. ... Our clients are typically hospitals, medical practices, other healthcare practices and manufacturers who want to reach patients.
                               </p>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <footer class="site-footer" id="contactTab">
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="foot-about">
                            <h2>Location
                                <!-- <a href="#"><img src="./app/components/doctorChamber/images/logo.png" alt=""></a> -->
                            </h2>

                            <a href="#"><img src="./app/components/doctorChamber/images/location-map.jpg" alt="" style="width: 350px"></a>

                        
                            <p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy; 2019 | <b>DIGITAL DOCTOR CHAMBER</b> <i class="fa fa-heart" aria-hidden="true"></i>
 <!-- by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div><!-- .foot-about -->
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                        <div class="foot-contact">
                            <h2>Contact</h2>

                            <ul class="p-0 m-0">
                                <li><span>Addtress:</span>4/2, Sobhanbag, Mirpur Rd, Dhaka 1207</li>
                                <li><span>Phone:</span>+88 01916894486 </li>
                                <li><span>Email:</span>imranmadbar@gmail.com</li>
                            </ul>
                        </div>
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                        <div class="foot-links">
                            <h2>Usefull Links</h2>

                            <ul class="p-0 m-0">
                                <li><a href="#home">Home</a></li>
                                <li><a href="#aboutUsSection">About us</a></li>
                                <li><a href="#serviceSection">Departments</a></li>
                                <li><a href="#contactSection">Contact</a></li>
                                <li><a href="#home">FAQ</a></li>
                                <li><a href="#home">Testimonials</a></li>
                            </ul>
                        </div><!-- .foot-links -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-widgets -->
    </footer>


    <script type='text/javascript' src='./app/components/doctorChamber/js/doctorChamber.js'></script>
<script type='text/javascript' src='./app/components/doctorChamber/js/swiper.min.js'></script>
