<table class="table table-bordered table-striped table-sm setupAll">
<tbody>
  <tr>
    <td style="width:250px;"><input class="form-control" type="number" placeholder="Sl. No."></td>
    <td><input class="form-control" type="text" placeholder="Name"></td>
    <td style="width:100px;"><div class="form-check">
        <input class="form-check-input checkinput" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label checkLabel" for="defaultCheck1"> Enable </label>
      </div></td>
    <td style="width:60px;"><button data-toggle="modal" data-target="#investigation" class="btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true"></i></button></td>
  </tr>
</tbody>
</table>

<div class="main_table_content maincontent2">
<div class="height_table_450">
<!-- 	    <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-hover"></table> -->

  <table class="table table-bordered table-striped table-sm">
    <thead>
      <tr>
        <th style="width:100px;">Sl.No.</th>
        <th>Name</th>
        <th style="width:220px;">Status</th>
        <th style="width:40px;">Edit</th>
        <th style="width:40px;">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>MD.MASUD AHMED</td>
        <td>Active</td>
        <td><button data-toggle="modal" data-target="#illnessedit" title="Edit" type="button" class="btn btn-warning btnEdit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
        <td><button data-toggle="modal" data-target="#delete" title="Delete" type="button" class="btn btn-danger btnEdit"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
      </tr>
    </tbody>
  </table>

</div>
</div>