
<div class="main_table_content">
    <!-- btnAllRow -->
  <div class="btnAllRow">
   <button  title="Add Finalization" data-toggle="modal" data-target="#addEditPhysicalExamGroupModal"  class=" btn btn-success addBtnSetup"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
  <button  title="Edit" data-toggle="modal" data-target="#addEditPhysicalExamGroupModal"  class=" btn btn-warning addBtnSetup"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
  <button  title="Delete" data-toggle="modal" data-target="#deletePhysicalExamGroupModal"  class=" btn btn-danger addBtnSetup"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
  </div>
  <!-- btnAllRow -->  

  <div class="height_table_490 tableSetupOther">
        <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" id="physicalExamGroupTable" class="table table-hover"></table>
  </div>
</div>


<!-- Modal -->

<div class="modal fade" id="addEditPhysicalExamGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-md" role="document">
  <div class="modal-content">
    <div class="modal-header modal_header_custom">
      <h5 class="modal-title" id="exampleModalLabel">Add Physical Exam Group</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
    </div>
    <div class="modal-body allformContent">
      
<form>
<div class="form-group row">
  <label for="inputEmail3" class="col-sm-3 col-form-label">Serial No.</label>
  <div class="col-sm-9">
    <input ng-model="physicalExamGroup.serial" type="text" class="form-control" id="inputEmail3" placeholder="">
  </div>
</div>
<div class="form-group row">
  <label for="inputPassword3" class="col-sm-3 col-form-label">Name</label>
  <div class="col-sm-9">
    <input ng-model="physicalExamGroup.groupName" type="text" class="form-control" id="inputPassword3" placeholder="">
  </div>
</div>
<div class="form-group row">
  <label for="inputPassword3" class="col-sm-3 col-form-label">Name Show</label>
  <div class="col-sm-9">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="physicalExamGroupNameIsShowYes" ng-value="true" ng-init="physicalExamGroup.isShowHeader= true" ng-model="physicalExamGroup.isShowHeader" mdbInputDirective>
          <label class="custom-control-label" for="physicalExamGroupNameIsShowYes"> Yes</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="physicalExamGroupNameIsShowNo" ng-value="false" ng-model="physicalExamGroup.isShowHeader" mdbInputDirective>
          <label class="custom-control-label" for="physicalExamGroupNameIsShowNo"> No</label>
        </div>
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-3 col-form-label text-right">Showing</div>
  <div class="col-sm-9">
    <div class="form-check">
      <input ng-model="physicalExamGroup.isEnable" class="form-check-input checkinput" type="checkbox" id="physicalExamGroupIsEnable"/>
      <label class="form-check-label checkLabel checkLabel2" for="physicalExamGroupIsEnable">
        Enable
      </label>
    </div>
  </div>
</div>

</form>    
</div>
    <div class="modal-footer footerCustom">
      <button ng-click="resetPhysicalExamGroup()"  type="button" class="btn btn-danger" data-dismiss="modal">Cancle</button>
      <button ng-click="addEditPhysicalExamGroup()" data-dismiss="modal"   type="button" class="btn btn-primary">Save</button>
    </div>
  </div>
</div>
</div>

 <!-- delete modal -->
<div class="modal fade" id="deletePhysicalExamGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header modal_header_custom">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body allformContent">
        <h4 class="deleteh4">Do you want Delete?</h4>
      </div>
      <div class="modal-footer">
        <button ng-click="resetPhysicalExamGroup()" type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        <button  ng-click="deletePhysicalExamGroup()" data-dismiss="modal" type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){   
      $("#physicalExamGroupTable").on('click', 'tr', function () {   
        $('#physicalExamGroupTable tbody tr').removeClass("activetable");
          $(this).addClass("activetable");
      });
    });
</script>