<!-- Modal -->

<div class="modal fade" id="addEditGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modalCustomWidth" role="document">
    <div class="modal-content">
      <div class="modal-header modal_header_custom">
        <h5 class="modal-title" id="exampleModalLabel">Add New Group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body allformContent">
        <form class="ng-pristine ng-valid">
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
              <input ng-model="drugGroup.groupName"  type="text" class="form-control" id="inputPassword3" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-3 col-form-label">Description</label>
            <div class="col-sm-9">
              <textarea ng-model="drugGroup.description" class="form-control textEditdoc"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer footerCustom">
        <button ng-click="resetDrugGroup()"  type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        <button ng-click="addUpdateDrugGroup()" data-dismiss="modal" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
