<!-- Modal -->

<div class="modal fade" id="editDurgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modalCustomWidth" role="document">
    <div class="modal-content">
      <div class="modal-header modal_header_custom">
        <h5 class="modal-title" id="exampleModalLabel">Edit Drug</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body allformContent">
        <form class="ng-pristine ng-valid">
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-3 col-form-label">Manufacturer</label>
            <div class="col-sm-9">
              <select class="form-control">
                <option value="" class="" selected="selected"> --Select Manufacture-- </option>
                <option label="Company" value="object:755">Company</option>
                <option label="Essential Drugs Co" value="object:756">Essential Drugs Co</option>
                <option label="Opsonin" value="object:757">Opsonin</option>
                <option label="Ibn Sina" value="object:758">Ibn Sina</option>
                <option label="Aristopharma" value="object:759">Aristopharma</option>
                <option label="Square Pharma" value="object:760">Square Pharma</option>
                <option label="Hudson" value="object:761">Hudson</option>
                <option label="Beximco Pharma" value="object:762">Beximco Pharma</option>
                <option label="ACI" value="object:763">ACI</option>
                <option label="Acme Laboratories Ltd." value="object:764">Acme Laboratories Ltd.</option>
                <option label="Rephco" value="object:765">Rephco</option>
                <option label="Eskayef" value="object:766">Eskayef</option>
                <option label="Gaco" value="object:767">Gaco</option>
                <option label="Drug International" value="object:768">Drug International</option>
                <option label="Bayer" value="object:769">Bayer</option>
                <option label="Novartis" value="object:770">Novartis</option>
                <option label="Lek" value="object:771">Lek</option>
                <option label="Fresenius (Janata)" value="object:772">Fresenius (Janata)</option>
                <option label="Medochemie" value="object:773">Medochemie</option>
                <option label="General" value="object:774">General</option>
                <option label="Incepta" value="object:775">Incepta</option>
                <option label="Chinoin" value="object:776">Chinoin</option>
                <option label="Silco Pharma" value="object:777">Silco Pharma</option>
                <option label="Roche" value="object:778">Roche</option>
                <option label="Renata" value="object:779">Renata</option>
                <option label="Sonear" value="object:780">Sonear</option>
                <option label="Orion" value="object:781">Orion</option>
                <option label="Reman" value="object:782">Reman</option>
                <option label="Navana" value="object:783">Navana</option>
                <option label="Therapeutics" value="object:784">Therapeutics</option>
                <option label="RPR" value="object:785">RPR</option>
                <option label="Jalalabad" value="object:786">Jalalabad</option>
                <option label="Jayson" value="object:787">Jayson</option>
                <option label="Servier" value="object:788">Servier</option>
                <option label="Glaxo" value="object:789">Glaxo</option>
                <option label="Human" value="object:790">Human</option>
                <option label="Ambee" value="object:791">Ambee</option>
                <option label="Otsuka" value="object:792">Otsuka</option>
                <option label="Organon" value="object:793">Organon</option>
                <option label="Opso Saline" value="object:794">Opso Saline</option>
                <option label="Boehringer" value="object:795">Boehringer</option>
                <option label="Gonoshasthya" value="object:796">Gonoshasthya</option>
                <option label="Menarini" value="object:797">Menarini</option>
                <option label="Medimet" value="object:798">Medimet</option>
                <option label="Chemist" value="object:799">Chemist</option>
                <option label="Pharmadesh" value="object:800">Pharmadesh</option>
                <option label="Hyeimpex" value="object:801">Hyeimpex</option>
                <option label="Pacific" value="object:802">Pacific</option>
                <option label="Slovakofarma" value="object:803">Slovakofarma</option>
                <option label="Seema Pharma" value="object:804">Seema Pharma</option>
                <option label="RadiumPharma" value="object:805">RadiumPharma</option>
                <option label="Libra" value="object:806">Libra</option>
                <option label="Leo" value="object:807">Leo</option>
                <option label="Gedeon Richter" value="object:808">Gedeon Richter</option>
                <option label="Dong Kook" value="object:809">Dong Kook</option>
                <option label="Searle" value="object:810">Searle</option>
                <option label="Pharmacia" value="object:811">Pharmacia</option>
                <option label="Waldamar" value="object:812">Waldamar</option>
                <option label="Nicholas" value="object:813">Nicholas</option>
                <option label="Durules Astra" value="object:814">Durules Astra</option>
                <option label="Continental" value="object:815">Continental</option>
                <option label="DBL/Faulding" value="object:816">DBL/Faulding</option>
                <option label="Bristol/Myers" value="object:817">Bristol/Myers</option>
                <option label="UniMed" value="object:818">UniMed</option>
                <option label="Schering-Plough" value="object:819">Schering-Plough</option>
                <option label="Sun Pharma" value="object:820">Sun Pharma</option>
                <option label="Medimpex" value="object:821">Medimpex</option>
                <option label="Efroze" value="object:822">Efroze</option>
                <option label="Abbott" value="object:823">Abbott</option>
                <option label="Hoechst" value="object:824">Hoechst</option>
                <option label="Rotexmedica" value="object:825">Rotexmedica</option>
                <option label="Beximco Infus" value="object:826">Beximco Infus</option>
                <option label="Wyeth" value="object:827">Wyeth</option>
                <option label="Grunethal" value="object:828">Grunethal</option>
                <option label="Beecham" value="object:829">Beecham</option>
                <option label="Amico" value="object:830">Amico</option>
                <option label="UniHealth" value="object:831">UniHealth</option>
                <option label="Doctor's Chemical Works" value="object:832">Doctor's Chemical Works</option>
                <option label="Squibb" value="object:833">Squibb</option>
                <option label="Richter" value="object:834">Richter</option>
                <option label="Albert David" value="object:835">Albert David</option>
                <option label="Duopharma" value="object:836">Duopharma</option>
                <option label="Upjohn" value="object:837">Upjohn</option>
                <option label="Serono" value="object:838">Serono</option>
                <option label="Astra Zeneca" value="object:839">Astra Zeneca</option>
                <option label="MSD" value="object:840">MSD</option>
                <option label="Hallmark" value="object:841">Hallmark</option>
                <option label="Faran Lab (Greece)" value="object:842">Faran Lab (Greece)</option>
                <option label="Ganashasthya" value="object:843">Ganashasthya</option>
                <option label="Weyth" value="object:844">Weyth</option>
                <option label="Quantum" value="object:845">Quantum</option>
                <option label="Eli Lily" value="object:846">Eli Lily</option>
                <option label="Pharmaco International" value="object:847">Pharmaco International</option>
                <option label="Egis Pharma" value="object:848">Egis Pharma</option>
                <option label="Norgine" value="object:849">Norgine</option>
                <option label="Novo Nordisk" value="object:850">Novo Nordisk</option>
                <option label="Sandoz" value="object:851">Sandoz</option>
                <option label="Morson" value="object:852">Morson</option>
                <option label="Nippon" value="object:853">Nippon</option>
                <option label="Pharmachemie" value="object:854">Pharmachemie</option>
                <option label="Teijin" value="object:855">Teijin</option>
                <option label="Asta Medica" value="object:856">Asta Medica</option>
                <option label="BON Labs" value="object:857">BON Labs</option>
                <option label="Bikalpa Pharma" value="object:858">Bikalpa Pharma</option>
                <option label="BCIO" value="object:859">BCIO</option>
                <option label="Modi-Mundi Pharm" value="object:860">Modi-Mundi Pharm</option>
                <option label="Pharmalink" value="object:861">Pharmalink</option>
                <option label="Medicon" value="object:862">Medicon</option>
                <option label="Troikaa" value="object:863">Troikaa</option>
                <option label="UCB (ACI)" value="object:864">UCB (ACI)</option>
                <option label="Elixir" value="object:865">Elixir</option>
                <option label="Bio Pharma" value="object:866">Bio Pharma</option>
                <option label="Belsen" value="object:867">Belsen</option>
                <option label="Edruc" value="object:868">Edruc</option>
                <option label="CPL" value="object:869">CPL</option>
                <option label="BYK Gulden" value="object:870">BYK Gulden</option>
                <option label="Al-Amin" value="object:871">Al-Amin</option>
                <option label="3M" value="object:872">3M</option>
                <option label="Somatec" value="object:873">Somatec</option>
                <option label="Remedy" value="object:874">Remedy</option>
                <option label="Solvay Pharma" value="object:875">Solvay Pharma</option>
                <option label="Central Pharm" value="object:876">Central Pharm</option>
                <option label="Alcon" value="object:877">Alcon</option>
                <option label="Lundbeck" value="object:878">Lundbeck</option>
                <option label="Pasteur" value="object:879">Pasteur</option>
                <option label="Trinity-Chiesi" value="object:880">Trinity-Chiesi</option>
                <option label="Reckitt&amp;Colman" value="object:881">Reckitt&amp;Colman</option>
                <option label="Berna" value="object:882">Berna</option>
                <option label="Janasheba" value="object:883">Janasheba</option>
                <option label="Skylab" value="object:884">Skylab</option>
                <option label="Scientific Drug" value="object:885">Scientific Drug</option>
                <option label="LG Chemical" value="object:886">LG Chemical</option>
                <option label="KDH" value="object:887">KDH</option>
                <option label="Shanta" value="object:888">Shanta</option>
                <option label="People's Pharma" value="object:889">People's Pharma</option>
                <option label="Chairon SpA" value="object:890">Chairon SpA</option>
                <option label="Ayerst" value="object:891">Ayerst</option>
                <option label="Alpha Ther" value="object:892">Alpha Ther</option>
                <option label="Merck" value="object:893">Merck</option>
                <option label="Stiefel" value="object:894">Stiefel</option>
                <option label="Alco" value="object:895">Alco</option>
                <option label="Technilab" value="object:896">Technilab</option>
                <option label="Healthcare Pharma" value="object:897">Healthcare Pharma</option>
                <option label="Chemico" value="object:898">Chemico</option>
                <option label="Aventis" value="object:899">Aventis</option>
                <option label="Nipa" value="object:900">Nipa</option>
                <option label="Ziska" value="object:901">Ziska</option>
                <option label="Zaman" value="object:902">Zaman</option>
                <option label="Mystic Pharma" value="object:903">Mystic Pharma</option>
                <option label="Zenca (ACI)" value="object:904">Zenca (ACI)</option>
                <option label="Silva" value="object:905">Silva</option>
                <option label="Globe" value="object:906">Globe</option>
                <option label="Rangs Pharma" value="object:907">Rangs Pharma</option>
                <option label="Schwarz" value="object:908">Schwarz</option>
                <option label="Popular Pharmaceuticals" value="object:909">Popular Pharmaceuticals</option>
                <option label="Biogene Pharma" value="object:910">Biogene Pharma</option>
                <option label="Unknown" value="object:911">Unknown</option>
                <option label="Cedona" value="object:912">Cedona</option>
                <option label="Pfizer" value="object:913">Pfizer</option>
                <option label="Consolidated" value="object:914">Consolidated</option>
                <option label="Lilly" value="object:915">Lilly</option>
                <option label="Winthrop" value="object:916">Winthrop</option>
                <option label="SKF" value="object:917">SKF</option>
                <option label="Kyowa" value="object:918">Kyowa</option>
                <option label="ImClone Systems" value="object:919">ImClone Systems</option>
                <option label="Win-Medicare" value="object:920">Win-Medicare</option>
                <option label="Manx Pharma" value="object:921">Manx Pharma</option>
                <option label="Fasska" value="object:922">Fasska</option>
                <option label="Techno Drugs" value="object:923">Techno Drugs</option>
                <option label="Green Cross" value="object:924">Green Cross</option>
                <option label="Ethnor" value="object:925">Ethnor</option>
                <option label="Du Pont" value="object:926">Du Pont</option>
                <option label="Ortho-McNeil Pharma" value="object:927">Ortho-McNeil Pharma</option>
                <option label="Grifols" value="object:928">Grifols</option>
                <option label="Eumedica Pharma" value="object:929">Eumedica Pharma</option>
                <option label="Behring" value="object:930">Behring</option>
                <option label="Fleet" value="object:931">Fleet</option>
                <option label="Octapharma" value="object:932">Octapharma</option>
                <option label="Pharmasia Limited" value="object:933">Pharmasia Limited</option>
                <option label="Biotest Pharma" value="object:934">Biotest Pharma</option>
                <option label="Silvia" value="object:935">Silvia</option>
                <option label="Walter Riter" value="object:936">Walter Riter</option>
                <option label="Asiatic Lab" value="object:937">Asiatic Lab</option>
                <option label="Delta Pharma" value="object:938">Delta Pharma</option>
                <option label="Beacon Pharma" value="object:939">Beacon Pharma</option>
                <option label="Benham Pharma" value="object:940">Benham Pharma</option>
                <option label="Apex Pharma" value="object:941">Apex Pharma</option>
                <option label="Millat" value="object:942">Millat</option>
                <option label="Cosmic Chemical Ind." value="object:943">Cosmic Chemical Ind.</option>
                <option label="Syntho" value="object:944">Syntho</option>
                <option label="Shamsul Al-Amin" value="object:945">Shamsul Al-Amin</option>
                <option label="Apec Pharma" value="object:946">Apec Pharma</option>
                <option label="APC Pharma" value="object:947">APC Pharma</option>
                <option label="Bosco" value="object:948">Bosco</option>
                <option label="D16 Pharma" value="object:949">D16 Pharma</option>
                <option label="Rasa Pharma" value="object:950">Rasa Pharma</option>
                <option label="Jess Chemicals" value="object:951">Jess Chemicals</option>
                <option label="SAPL" value="object:952">SAPL</option>
                <option label="Green Cross Korea" value="object:953">Green Cross Korea</option>
                <option label="Supreme Pharma" value="object:954">Supreme Pharma</option>
                <option label="Zenith Pharma" value="object:955">Zenith Pharma</option>
                <option label="Proteety" value="object:956">Proteety</option>
                <option label="Indico Remedies" value="object:957">Indico Remedies</option>
                <option label="Aexim Pharma" value="object:958">Aexim Pharma</option>
                <option label="Leiras" value="object:959">Leiras</option>
                <option label="Dallchi" value="object:960">Dallchi</option>
                <option label="Marksman" value="object:961">Marksman</option>
                <option label="Mediman" value="object:962">Mediman</option>
                <option label="Decent Pharma" value="object:963">Decent Pharma</option>
                <option label="Apcco" value="object:964">Apcco</option>
                <option label="Apollo Pharma" value="object:965">Apollo Pharma</option>
                <option label="GSK" value="object:966">GSK</option>
                <option label="UK" value="object:967">UK</option>
                <option label="Medinet" value="object:968">Medinet</option>
                <option label="Albion Laboratories" value="object:969">Albion Laboratories</option>
                <option label="USA" value="object:970">USA</option>
                <option label="Modern Pharma" value="object:971">Modern Pharma</option>
                <option label="Fournier" value="object:972">Fournier</option>
                <option label="Royal Health Care" value="object:973">Royal Health Care</option>
                <option label="Desh Pharma" value="object:974">Desh Pharma</option>
                <option label="Shamsul Alamin Pharma" value="object:975">Shamsul Alamin Pharma</option>
                <option label="Alfa Waserman" value="object:976">Alfa Waserman</option>
                <option label="Eisai Co" value="object:977">Eisai Co</option>
                <option label="Janseen-Cilag" value="object:978">Janseen-Cilag</option>
                <option label="Tajarat Health Care" value="object:979">Tajarat Health Care</option>
                <option label="City Overseas" value="object:980">City Overseas</option>
                <option label="Rowa Pharma" value="object:981">Rowa Pharma</option>
                <option label="Universal Food" value="object:982">Universal Food</option>
                <option label="A. H. Janakalyan Pharma" value="object:983">A. H. Janakalyan Pharma</option>
                <option label="IPH" value="object:984">IPH</option>
                <option label="Ad-Din Pharma" value="object:985">Ad-Din Pharma</option>
                <option label="Radiant Pharma" value="object:986">Radiant Pharma</option>
                <option label="Syntho Lab" value="object:987">Syntho Lab</option>
                <option label="Janata" value="object:988">Janata</option>
                <option label="Gosun" value="object:989">Gosun</option>
                <option label="Everest Pharma" value="object:990">Everest Pharma</option>
                <option label="Vifor" value="object:991">Vifor</option>
                <option label="Globex" value="object:992">Globex</option>
                <option label="Seclo" value="object:993">Seclo</option>
                <option label="Syntho Laboratories" value="object:994">Syntho Laboratories</option>
                <option label="allied" value="object:995">allied</option>
                <option label="SMC" value="object:996">SMC</option>
                <option label="Nipro  JMI Pharma LTD." value="object:997">Nipro  JMI Pharma LTD.</option>
                <option label="Gounam" value="object:998">Gounam</option>
                <option label="ADH Health" value="object:999">ADH Health</option>
                <option label="Baxter" value="object:1000">Baxter</option>
                <option label="RAK Pharma" value="object:1001">RAK Pharma</option>
                <option label="Sanofi Aventis" value="object:1002">Sanofi Aventis</option>
                <option label="Novelta" value="object:1003">Novelta</option>
                <option label="Bristol Pharma" value="object:1004">Bristol Pharma</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-3 col-form-label">Brand</label>
            <div class="col-sm-9">
              <input type="text" class="form-control"  value="Butefin">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-3 col-form-label">Form</label>
            <div class="col-sm-9">
              <input type="text" class="form-control"  value="Form">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-3 col-form-label">Strength</label>
            <div class="col-sm-9">
              <input type="text" class="form-control"  value="Strength">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-3 col-form-label">Price</label>
            <div class="col-sm-9">
              <input type="text" class="form-control"  value="Price">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer footerCustom">
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
