<!-- Styles -->
<link rel="stylesheet" type="text/css" href="./app/components/doctorChamber/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="./app/components/doctorChamber/css/style.css">

<header class="site-header">
    <div class="nav-bar">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                    <div class="site-branding d-flex align-items-center">
                        <!-- <a class="d-block" href="index.html" rel="home"><img class="d-block" src="./app/components/doctorChamber/images/logo.png" alt="logo"></a>
                         -->
                    </div><!-- .site-branding -->

                    <nav class="site-navigation d-flex justify-content-end align-items-center">
                        <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-items-center">
                            <li class="current-menu-item"><a href="#home">Home</a></li>
                            <li><a href="#aboutUsSection">Appointment</a></li>

                            <li><a href="#serviceSection">Services</a></li>
                            <!-- <li><a href="news.html">News</a></li> -->
                            <li><a href="#contactSection">Contact</a></li>

                            <li class="call-btn button gradient-bg mt-3 mt-md-0">
                                <a class="d-flex justify-content-center align-items-center" href="#"><img
                                        src="./app/components/doctorChamber/images/emergency-call.png"> +88 01916 8944
                                    86</a>
                            </li>
                        </ul>
                    </nav><!-- .site-navigation -->

                    <div class="hamburger-menu d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div><!-- .hamburger-menu -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .nav-bar -->
</header>



<div class="homepage-boxes aboutUsSection" style="padding: 15px">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="opening-hours">
                    <h2 class="d-flex align-items-center">Opening Hours</h2>

                    <ul class="p-0 m-0">
                        <li>Monday - Thursday <span>8.00 - 19.00</span></li>
                        <li>Friday <span>8.00 - 18.30</span></li>
                        <li>Saturday <span>9.30 - 17.00</span></li>
                        <li>Sunday <span>9.30 - 15.00</span></li>
                    </ul>
                </div>
            </div>

            <!-- <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                    <div class="emergency-box">
                        <h2 class="d-flex align-items-center">Emergency</h2>

                        <div class="call-btn button gradient-bg">
                            <a class="d-flex justify-content-center align-items-center" href="#"><img src="./app/components/doctorChamber/images/emergency-call.png"> +34 586 778 8892</a>
                        </div>

                        <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. Donec males uada lorem maximus mauris sceler isque, at rutrum nulla.</p>
                    </div>
                </div> -->

            <div class="col-12 col-md-6 col-lg-5 mt-5 mt-lg-0">
                <div class="appointment-box">
                    <h2 class="d-flex align-items-center">Make an Appointment</h2>

                    <form class="d-flex flex-wrap justify-content-between">


                        <input type="text" ng-model="appointment.patientName" placeholder="Name">

                        <input type="text" ng-model="appointment.phoneNo" placeholder="Phone No">

                        <input type="text" ng-model="appointment.age" placeholder="Age">

                        <select ng-model="appointment.gender" class="select-department">
                            <option value="MALE"> Male</option>
                            <option value="FEMALE">Female</option>
                        </select>

                        <select ng-model="appointment.doctor_no" class="select-department">
                            <option value="0"> Select a Doctor</option>
                            <option value="137"> Dr. Muhammad Tawfique</option>
                            <option value="2">Dr. Imran Hossain</option>
                            <option value="3">Dr. Kamruzzaman</option>
                        </select>


                        <!-- <select ng-model="appointment.bloodGroup" class="select-department">
                                <option value="o ">Select Department</option>
                                <option value="value2">Select Department 1</option>
                                <option value="value3">Select Department 2</option>
                            </select>

                            <select ng-model="appointment.doctor_no"  class="select-doctor">
                                <option>Select Doctor</option>
                                <option>Select Doctor 1</option>
                                <option>Select Doctor 2</option>
                            </select>
                                

                            <select class="select-department">
                                <option value="value1">Select Department</option>
                                <option value="value2">Select Department 1</option>
                                <option value="value3">Select Department 2</option>
                            </select>

                            <select class="select-doctor">
                                <option>Select Doctor</option>
                                <option>Select Doctor 1</option>
                                <option>Select Doctor 2</option>
                            </select> -->
                    </form>
                    <button ng-click="onBookAppoitnment()" type="button"
                        class="btn btn-info button gradient-bg">Apply</button>

                    <!-- <input id="appoitnmentBtn" type="button" class="button gradient-bg" value="Boom Appoitnment"> -->

                </div>

            </div>



        </div>
    </div>
</div>



<div class="row" style="margin: 10px">
    <div class="col-md-10 well" style="margin: auto; padding:5px; background-color: midnightblue;">
        <ul class="list-group">
            <li class="list-group-item active bg-secondary text-white">Dr. Muhammad Tawfique</li>
        </ul>
        <P></P>
        <button type="button"  class="btn btn-warning" ng-repeat="obj in patientsFor137 | orderBy : 'id'" style="margin: 5px">
            <span class="badge badge-light">SL# {{$index+1}}</span> {{obj.patientName}}
        </button>
    </div>
</div>

<div class="row" style="margin: 10px">
        <div class="col-md-10 well" style="margin: auto; padding:5px; background-color: midnightblue;">
            <ul class="list-group">
                <li class="list-group-item active bg-secondary text-white">Dr. Imran Hossain</li>
            </ul>
            <P></P>
            <button type="button"  class="btn btn-warning" ng-repeat="obj in patientsFor2 | orderBy : 'id'" style="margin: 5px">
                <span class="badge badge-light">SL# {{$index+1}}</span> {{obj.patientName}}
            </button>
        </div>
</div>

<div class="row" style="margin: 10px">
    <div class="col-md-10 well" style="margin: auto; padding:5px; background-color: midnightblue;">
        <ul class="list-group">
            <li class="list-group-item active bg-secondary text-white">Dr. Kamruzzaman</li>
        </ul>
        <P></P>
        <button type="button"  class="btn btn-warning" ng-repeat="obj in patientsFor3 | orderBy : 'id'" style="margin: 5px">
            <span class="badge badge-light">SL# {{$index+1}}</span> {{obj.patientName}}
        </button>
    </div>
</div>




<div id="alertMessage" class="alert alert-danger emptyMessage"> {{alertMessage}} </div>
<div id="successMessage" class="alert alert-success emptyMessage"> {{successMessage}}



    <script type='text/javascript' src='./app/components/doctorChamber/js/doctorChamber.js'></script>
    <script type='text/javascript' src='./app/components/doctorChamber/js/swiper.min.js'></script>